<% provide(:title, 'Find Rides') %>
<h1>List of Available Rides </h1>
<nav>
	<ul class="nav pull-top">
	  <li>Chennai To Madhurai.      600</li>
	  <li>Chennai To Banglore       400</li>
	  <li>Chennai to Trichy</li>
	  <li>Trichy to Tambram</li>
	  <li>Banglore To Trichy</li>
	  
	</ul>
</nav>