<% provide(:title, 'Find Rides') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/ride_form' %>
      </section>
    </aside>
  </div>
<% else %>
	<h1>Please signin for List of Rides</h1>
<% end %> 
