<% provide(:title, 'Offer Rides') %>
<h1>Offer Ride For Others</h1>
<h3>BlaBlaCar at a Glance</h3>
<p>
  
  BlaBlaCar is a trusted community marketplace that connects drivers with empty seats to co-travellers looking for a ride. Over 12 million people use BlaBlaCar every quarter creating an entirely new, people-powered network. With a dedicated customer service, a state of the art web and mobile platform, and a fast-growing community of users, BlaBlaCar is making travel social, money-saving and more efficient for millions of members.
</p>